<ul class="nav-meta">
  <li class="nav-social">
    <a aria-label="GitHub" href="https://github.com/lachlanbell" title="@lachlanbell on GitHub" target="_blank">
      <i class="icon icon-github" aria-hidden="true"></i>
      <span>@lachlanbell on GitHub</span>
    </a>
  </li>
  <li class="nav-social">
    <a aria-label="Twitter" href="https://twitter.com/lachyio" title="@lachyio" target="_blank">
      <i class="icon icon-twitter" aria-hidden="true"></i>
      <span>@lachyio</span>
    </a>
  </li>
  <li class="nav-social">
    <a aria-label="LinkedIn" href="https://www.linkedin.com/in/lachlan-bell-216a851b1/" title="Lachlan Bell on LinkedIn" target="_blank">
      <i class="icon icon-linkedin" aria-hidden="true"></i>
      <span>Lachlan Bell on LinkedIn</span>
    </a>
  </li>
  <li class="nav-search" style="display: none;">
    <a title="{{t "Search"}}">
      <i class="icon icon-search" aria-hidden="true"></i>
      <span>{{t "Search"}}</span>
    </a>
  </li>
  <!--
  {{#unless @member}}
    <li class="nav-subscribe">
      <a href="#/portal">Subscribe</a>
    </li>
  {{else}}
    <li class="nav-account">
      <a href="#/portal/account">Account</a>
    </li>
  {{/unless}}
  -->
</ul>
